%h3 About

= image_tag 'nathananne.jpg', height: 350, alt: "Anne and Nathan", id: "about"

.about-text
	%p Hi, my name is Nathan and I built this blog. It uses Devise for authentication, CanCan for authorization, Paperclip for image uploads, Action Mailer to welcome new users, and Ajax to add and remove comments. Views are built in a combination of html and haml.
	%p Before becoming a web developer, I worked in public health. It was a wonderful experience. I got the opportunity to advocate for strong public policies to prevent and control cancer and to reduce the impact of harmful substances like tobacco, and I witnessed great strides in these areas, but I also felt that much more could be done. 
	%p To address this concern, I started looking for new tools that could be used alongside traditional approaches. Recently, I have been exploring how new technologies can improve health and expand access to quality health care. I am currently part of one team that is building an online marketplace for health services and another that is using data from wireless devices and scanners to create personal health records.
	%p My wife Anne and I live in Portland with our dog Raja. Anne works at Concordia University. Raja mostly chases squirrels.