%h3 About

= image_tag 'nathananne.jpg', height: 350, alt: "Anne and Nathan", id: "about"

.about-text
	%p Hi, my name is Nathan and I built this blog using Ruby on Rails. It uses Devise for authentication, CanCan for authorization, Paperclip for image uploads, Action Mailer to welcome new users, and Ajax to add and remove comments. Views are built in a combination of html and haml.
	%p Before becoming a web developer, I worked in public health. It was a wonderful experience. I got the opportunity to advocate for strong public policies to prevent and control cancer and to reduce the impact of harmful substances like tobacco. I witnessed great strides in these areas, but I also felt that much more could be done. 
	%p I started looking for new tools that could be used alongside traditional approaches. I am especially interested in how existing, pervasive technologies - such as web and mobile apps, scanners and wireless devices - can be used alone and in concert to promote health and control disease. Ultimately, this led me to my present activities. I am currently part of one team that is building an online marketplace for health services and another that is using data from wireless devices and scanners to create personal health records.
	%p My wife Anne and I live in Portland with our dog Raja. Anne works at Concordia University. Raja mostly chases squirrels.
	More about Nathan at 
	=link_to "LinkedIn", "http://www.linkedin.com/in/nathangrey/"
	%span: and 
	=link_to " GitHub", "https://github.com/nngrey"
	%span> .
	