%h1 Posts

- @posts.each do |post|
  %br
  - if can? :read, post
    %span.list-title= link_to post.title, post_path(post)
    - time = post.date
    %span>= time.strftime(", %B, %e %Y")
    %em= post.publish ? "" : " - unpublished"
